.app-container {
    width: 61.8%;
    height: 100%;
    padding: 0;
    box-sizing: border-box;
    margin: 0 auto;

    .header-container {
        width: 100%;
        display: flex;
        justify-content: space-between;
        flex-wrap: nowrap;
        align-items: center;
        height: 100px;

        .power-logo {
            width: 30%;
            height: 100%;
            display: flex;
            align-items: center;
        }
        .search-container {
            width: 50%;
            height: 100%;
            display: flex;
            justify-content: flex-end;
            align-items: center;
        }
    }
    .info-container {
        width: 100%;
        height: calc(100% - 100px);
        padding: 0;
        box-sizing: border-box;
        display: flex;
        overflow: hidden;
        background: rgba(0, 0, 0, .52);

        .video-poster {
            width: 38.2%;
            height: 100%;
            border-radius: 7px;
            overflow: hidden;
            img {
                width: 100%;
            }
        }
        .video-info {
            width: 61.8%;
            height: 100%;
            overflow-y: auto;
            color: #fff;
            padding: 7px 27px;
            box-sizing: border-box;

            .title {
                font-size: 2.2rem;
                width: 100%;
                font-weight: 700;
                margin-bottom: 9px;
            }
            .tagline {
                color: #90cea1;
                font-size: 1.3rem;
                margin-bottom: 9px;
            }
            .overview {
                height: 97px;
                margin-bottom: 9px;
                overflow-y: auto;
            }
            .genre-list {
                font-size: 1.4rem;
                color: #90cea1;
                margin-bottom: 9px;
            }
            .production-list {
                margin-bottom: 9px;
            }
            .release-detail {
                width: 100%;
                min-height: 120px;
                display: flex;
                flex-wrap: wrap;
                box-sizing: border-box;

                .release-item {
                    width: 50%;
                    height: 50%;
                    margin: 9px 0;
                    box-sizing: border-box;

                    .release-label {
                        font-size: 1.2rem;
                    }

                    .release-info {
                        font-size: 1.6rem;
                        color: #90cea1;
                    }
                }
            }
        }
    }
}